
.modal {
  position: absolute;
  top: 20vh;
  left: calc(50% - 10rem);
  width: 18rem;
  height: 10rem;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.email {
  position: relative;
  left: 20%;
  height: 30px;
  margin: 10px 0 0 0;
}

.password {
  position: relative;
  left: 20%;
  display: block;
  height: 30px;
  margin: 10px 0 10px 0;
}

.credentialsLogin {
  
  position: relative;
  left: 20%;
  height: 30px;
  width: 60px;
  border-radius: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 250;
  font-size: 18px;
  cursor: pointer;
}

.register {
  position: relative;
  left: 30%;
  height: 30px;
  width: 80px;
  border-radius: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 250;
  font-size: 18px;
}

.forgottenPassword {
  position: inherit;
  background-color: aliceblue;
  border: none;
  margin-top: 3rem;
  left: 25%;
}
