.forgottenP-modal {
    position: absolute;
    top: 20vh;
    left: calc(50% - 10rem);
    width: 18rem;
    height: 7rem;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 14px;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 300ms ease-out forwards;
  }

  .forgottenToMain {
    position: absolute;
    height: 20px;
    width: 80px;
    border: none;
    background-color: aliceblue;
    font-weight: 300;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 10%;
    left: 75%;
  }
  .forgottenButton {
    position: relative;
    height: 40px;
    width: 200px;
    border: none;
    border-bottom: 1px solid green;
    background-color: aliceblue;
    font-weight: 300;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 5%;
    left: 12%;
    transition: all .05s;
    animation: slide-down 100ms ease-out forwards;
  }

  .forgottenButton:hover{
    transform: translateY(-2px);
    border-bottom: 4px solid green;
  }
  


