
  .forgottenToMain {
    position: relative;
    display: flex;
    align-self:flex-end;
    border: none;
    background-color: whitesmoke;
    font-weight: 300;
    font-size: 20px;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/


  }
  .forgottenButton {
    position: relative;
    height: fit-content;
    width: fit-content;
      padding: 8px 12px;
    border: none;
    border-bottom: 1px solid green;
    background-color: aliceblue;
    font-weight: 300;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*top: 5%;*/
    left: 12%;
    transition: all .05s;
    animation: slide-down 100ms ease-out forwards;
  }

  .forgottenButton:hover{
    transform: translateY(-2px);
    border-bottom: 4px solid green;
  }
  


