.resetModal {
  position: absolute;
  top: 20vh;
  left: calc(50% - 10rem);
  width: 18rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 300ms ease-out forwards;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.newPassword {
  position: relative;
  left: 20%;
  display: block;
  height: 30px;
  margin: 10px 0 10px 0;
  
}

.passwordConfirmed{
    position: relative;
    top:45%;
    text-align: center;
    color: greenyellow;

}